# General
.DS_Store
Thumbs.db
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS related
.AppleDouble
.LSOverride
Icon

# Environment Variables
.env
.env.local
.env.*.local
