// ซ่อน Scrollbar แต่ยังเลื่อนได้
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }
}

// Animation ตอนกดเลือก Slot
button {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}