ion-content {
  --background: #f4f7fb;
}

/* MAP */
.map-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.map-grid {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(45deg, #eef 25%, transparent 25%),
    linear-gradient(-45deg, #eef 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #eef 75%),
    linear-gradient(-45deg, transparent 75%, #eef 75%);
  background-size: 30px 30px;
  background-position: 0 0, 0 15px, 15px -15px, -15px 0px;
}

.marker {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.marker.success {
  background: #34c759;
}
.marker.warning {
  background: #ffcc00;
}
.marker.danger {
  background: #ff3b30;
}

/* BOTTOM SHEET */
.bottom-sheet {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
  transition: height 0.25s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* DRAG HEADER */
.drag-header {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-line {
  width: 45px;
  height: 5px;
  background: #ccc;
  border-radius: 999px;
}

/* SCROLL ZONE */
.sheet-content {
  overflow-y: auto;
  height: 100%;
}
.sheet-content.lock-scroll {
  overflow-y: hidden !important;
  touch-action: none; /* ป้องกัน scroll บนมือถือ */
}


/* LIST */
.lot-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 40px;
}

.lot-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.lot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  padding: 3px 8px;
  border-radius: 999px;
  font-size: 12px;
  color: white;
}

.status.success {
  background: #34c759;
}
.status.warning {
  background: #ffcc00;
}
.status.danger {
  background: #ff3b30;
}
